.wishlist-page {
    display: flex;
    flex-direction: column;
    height: 100svh;
}

.wishlist-nav {
    flex-shrink: 0;
}

.wishlist-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.wishlist-footer {
    flex-shrink: 0;
}