.forget-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.forget-body {
    height: 100svh;
    background-image: url('../../images/Background Image/old-fashioned-book-gold-colored-background-religious-symbol-generated-by-ai.jpg');
    background-repeat: no-repeat;
    background-size:cover;
}

.forget-paper {
    height: 65%;
    width: 30%;
    justify-content: space-evenly;
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.332);
}

.forget-icon {
    flex-shrink: 1;
    margin-top: 9%;
    margin-bottom: 5%;
    color: white;
}

.forget-form {
    flex-grow: 1;
    justify-content: space-evenly;
    color: white;
}

.forget-input {
    width: 90%;
    background: white;
    border-radius: 20px;
    border: 2px solid white;
    color:black;
    padding: 10px;
}

.forget-input:focus{
    outline: 3px solid black;
}

.forget-input:hover{
    width: 100%;
}

.forget-input::placeholder {
    color: black;
}

.forget-submit:hover {
    height: 9%;
    width: 50%;
}